body {
  font-family: Google Sans, arial, sans-serif;
}
h1 {
  color: #d664b8;
  font-size: 45px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 15px;
  position: relative;
  left: -13px;
}

li {
  list-style: none;
  color: #70757a;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  padding-top: 6px;
}
li::first-letter {
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.weather-app {
  padding: 20px 20px 0px 20px;
  border: 2px solid #a9a9a9;
  border-radius: 10px;
}
.weather-app-wrapper {
  max-width: 500px;
  margin: 20px auto;
}
.overview {
  margin-bottom: 20px;
}
.middle-part {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.weather-temperature img {
  margin-right: 10px;
  margin-top: 0;
  position: relative;
  top: -20px;
}
.weather-temperature strong {
  color: #d664b8;
  font-size: 35px;
  position: relative;
  top: -21px;
}
.weather-temperature .units {
  position: relative;
  font-size: 15px;
  top: -35px;
}

.weather-temperature .active {
  color: #d664b8;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: underline;
}
.picture {
  margin-top: 0px;
  margin-right: 0px;
  position: relative;
  top: -15px;
}
