body {
  font-family: Google Sans, arial, sans-serif;
}
h1 {
  color: #d664b8;
  font-size: 40px;
  font-weight: 400;
  line-height: 26px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #70757a;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  padding-top: 6px;
}
li::first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}
.weather-app {
  padding: 0px 20px 20px;
  border: 2px solid #a9a9a9;
  border-radius: 10px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-top: 0;
  position: relative;
  top: -10px;
  width: 63px;
}
.clearfix {
  margin-top: -20px;
  padding-right: 0px;
}
.weather-temperature strong {
  color: #d664b8;
  font-size: 40px;
  position: relative;
}
.weather-temperature .units {
  position: relative;
  font-size: 15px;
  top: -18px;
}

.weather-temperature .active {
  color: #d664b8;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: underline;
}

.picture {
  max-width: 100px;
  margin-top: 0px;
}
